
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody>


        {% for melon_id,qty in s_cart.items() %}
        <tr>
            <td>{{ melon_dict[melon_id].common_name }}</td>
            <td>{{ qty }}</td>
            <td> {{ melon_dict[melon_id].price }} </td>
            <td> {{ melon_dict[melon_id].price * qty}} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: {{ total }} </h3>


    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
